<% include ./partials/header.ejs %>

<div class="relative min-h-screen bg-zinc-900 text-white">
  
  <!-- Banner -->
  <div class="w-full h-[40vh] bg-zinc-800 overflow-hidden">
    <% if (user.bannerImage) { %>
        <img src="/images/uploads/<%= user.bannerImage %>" class="w-full h-full object-cover" />
    <% } else { %>
      <div class="w-full h-full flex items-center justify-center text-gray-400">
        <img src='/images/default-banner.png' class="w-full h-full object-cover" />
      </div>
    <% } %>
  </div>

  <!-- Profile Info -->
  <div class="px-10 flex flex-col items-center mb-10">
    <img src="<%= user.profileImage ? '/images/uploads/' + user.profileImage : '/images/default-profile.jpg' %>" class="w-64 h-64 rounded-full object-cover border-4 border-white shadow-md -mt-48 bg-zinc-900" />
    <h1 class="text-3xl mt-4 font-semibold"><%= user.name %></h1>
    <p class="text-gray-400">@<%= user.username %></p>
  </div>

  <!-- Posts -->
  <div class="px-10 pb-10 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
    <% user.posts.forEach(post => { %>
      <div class="bg-zinc-800 rounded-xl overflow-hidden shadow-md">
        <img src="/images/uploads/<%= post.image %>" class="w-full h-60 object-cover" />
        <div class="p-4">
          <h2 class="text-xl font-bold"><%= post.title %></h2>
          <p class="text-sm text-gray-400 mt-1"><%= post.description %></p>

        </div>
      </div>
    <% }) %>
  </div>

</div>

<% include ./partials/footer.ejs %>

