<% include ./partials/header.ejs %>

<div class="w-full min-h-screen bg-zinc-800 text-white ">
  <div class="w-full h-64 flex flex-col justify-end items-center">
    <h1 class="text-7xl  inline-block text-white  text-center  p-15">Your Posts</h1>
    <hr class="opacity-30 w-[90%]">
  </div>
  <div class="columns-1 sm:columns-2 md:columns-3 lg:columns-4 gap-4 p-10 space-y-4 py-25">
    
    
    <% user.posts.forEach(function(elem){ %>
      <div class="break-inside-avoid bg-zinc-700 rounded-xl p-3 shadow-md transition-transform  text-white ">
        <img class="w-full object-cover rounded-t-lg" src="/images/uploads/<%= elem.image %>" alt="">
        
        <div class="flex justify-between items-center">
          <div class=" flex flex-col w-[50%] justify-start items-start">
            <h5 class="text-lg font-semibold text-white"><%= elem.title %></h5>
            <h4 class="text-md font-medium text-white "><%= elem.description %></h4>
            <p class="text-xs text-gray-400"><%= elem.likes.length %> likes</p>
            
          </div>
          <div class="w-[50%] items-end flex flex-col p-3 justify-around items-center gap-3">
            <a href="/editpost/<%= elem._id %>" class="px-5 py-1 inline-block  bg-backdrop-lg ring-black ring-2 rounded-full text-white text-md hover:scale-105 duration-300 cursor-pointer">Edit</a>
            <a href="/deletepost/<%= elem._id %>" class="px-4 py-1 bg-red-700 inline-block rounded-full ring-red-800 ring-2  text-white text-md hover:scale-105 duration-300 cursor-pointer">Delete</a>
          </div>
          
          
        </div>
        
        
        
      </div>
    <% }) %>
  </div>
</div>

<% include ./partials/footer.ejs %>


